In [4]:
import pandas as pd

In [9]:
df = pd.read_csv("V1_1_1.csv")

In [10]:
df

                                                                   # started on Sun Oct  9 14:41:13 2022
25911245        NaN cycles:u                   2826648 29.24  NaN                                    NaN
93886149        NaN instructions:u             6822151 70.58  3.62                        insn per cycle
475323          NaN L1-dcache-load-misses      9666384 100.00 NaN                                    NaN
<not supported> NaN L1-dcache-store-misses     0       100.00 NaN                                    NaN
557             NaN LLC-load-misses            9666384 100.00 NaN                                    NaN
14              NaN LLC-store-misses           9666384 100.00 NaN                                    NaN
278             NaN dTLB-load-misses           9666384 100.00 NaN                                    NaN
<not counted>   NaN dTLB-store-misses          0       0.00   NaN                                    NaN
                    l2_rqsts.all_demand_miss:u 0       0.00   NaN                                    NaN
169             NaN page-faults:u              9665718 100.00 NaN                                    NaN
0               NaN context-switches:u         9665718 100.00 NaN                                    NaN

In [6]:
df

                                                                 # started on Sun Oct  9 14:37:19 2022
25736829      NaN cycles:u                   2568874 26.71  NaN                                    NaN
94097749      NaN instructions:u             6566832 68.28  3.66                        insn per cycle
170           NaN page-faults:u              9617846 100.00 NaN                                    NaN
470143        NaN L1-dcache-load-misses      9617999 100.00 NaN                                    NaN
424           NaN LLC-load-misses            9617999 100.00 NaN                                    NaN
9             NaN LLC-store-misses           9617999 100.00 NaN                                    NaN
220           NaN dTLB-load-misses           9617999 100.00 NaN                                    NaN
<not counted> NaN dTLB-store-misses          0       0.00   NaN                                    NaN
                  l2_rqsts.all_demand_miss:u 0       0.00   NaN                                    NaN
0             NaN context-switches:u         9617846 100.00 NaN                                    NaN